<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <NewToken>_NEW</NewToken>
  <ReferenceToken>_REF</ReferenceToken>
  <DiffToken>_DIFF</DiffToken>
  <SummaryToken>Summary_</SummaryToken>
  <MasterToken>Master_</MasterToken>
  <DiffFileName>DIff</DiffFileName>
  <DiffFileExtension>.xml</DiffFileExtension>
  <Separator>;</Separator>
</configuration>