<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <Options>
    <Option Name="IgnoreChildOrder">false</Option>
    <Option Name="IgnoreComments">true</Option>
    <Option Name="IgnoreDtd">false</Option>
    <Option Name="IgnoreNamespaces">false</Option>
    <Option Name="IgnorePI">false</Option>
    <Option Name="IgnorePrefixes">false</Option>
    <Option Name="IgnoreWhitespace">true</Option>
    <Option Name="IgnoreXmlDecl">true</Option>
    <Option Name="None">false</Option>
  </Options>
</configuration>